<%-- 
Name:
Author: 成七一
Description: Mybatis Mapper XML GENERATE TEMPLATE FOR FWEB（FOREVER WEB RAPID FRAMEWORK）
--%>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System" %>
<%@ Import Namespace="System" %>

<%@ Template Language="C#" TargetLanguage="SQL" %>
<%@ Property Name="SourceTables" Optional="True" Type="SchemaExplorer.TableSchemaCollection" Category="Database" Description="可以选择多张表." %>

-- --------------------------------------------------------------------------------
-- Routine DDL
-- Note: comments before and after the routine body will not be stored by the server
-- --------------------------------------------------------------------------------
DELIMITER $$

CREATE FUNCTION `refresh_all_status` ()
RETURNS INTEGER
BEGIN
<%foreach(TableSchema ttt in SourceTables) { 
    String fields = GetFields(ttt);
if(fields.IndexOf("status") < 0 ) continue;%>
<%if(fields.Contains("create_time")) { %>

    -- <%=ttt.Description%>
	update <%=ttt.Name%> set status = 1 where create_time < curdate();<% continue; } if(fields.Contains("update_time")) { %>
    
    -- <%=ttt.Description%>
	update <%=ttt.Name%> set status = 1 where update_time < curdate();<%} %>
	<%} %>

RETURN 1;
END


<script runat="template">
    
    public string GetFields(TableSchema table)
    {
    	string s = string.Empty;
        
        foreach(ColumnSchema col in table.Columns)
        {
            s += string.Format("{0} as {1}, ", col.Name, StringUtil.ToCamelCase(col.Name));
        }
    	
    	return s.Trim().TrimEnd(',');
    }
</script>