<%-- 
Name:
Author: 成七一
Description:Service Class GENERATE TEMPLATE FOR FWEB（FOREVER WEB RAPID FRAMEWORK）
CreateTime：2014年7月17日 13:43:50
--%>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System" %>
<%@ Import Namespace="System" %>
<%@ Map Name="JavaAlias" Src="mysql-java-alias" %>

<%@ Template Language="C#" TargetLanguage="HTML" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Database" Description="只能选择一个表." %>
<%@ Property Name="Author" Type="System.String" Category="Context" Default="cqiyi" %>
<<%=P()%>@ page isELIgnored="false"<%=P()%>><<%=P()%>@ taglib
	uri="http://java.sun.com/jsp/jstl/core" prefix="c"<%=P()%>><<%=P()%>@ taglib
	uri="http://www.springframework.org/tags" prefix="s"<%=P()%>><<%=P()%>@ taglib
	uri="http://www.springframework.org/tags/form" prefix="sf"<%=P()%>><<%=P()%>@ page
	language="java" contentType="text/html; charset=utf-8"
	pageEncoding="utf-8"<%=P()%>><<%=P()%>@ include file="header.jsp"<%=P()%>>
<div class="container main"><div class="panel panel-default">
	<div class="panel-heading">
		<strong>${page_title}</strong>
	</div>
	<div class="panel-body">
		<sf:form modelAttribute="<%=GetDomainVariableName()%>" cssClass="form-horizontal"
			role="form">
				<div class="row"><div class="col-sm-8"><% bool has_description = false; int index =0;
	foreach(ColumnSchema col in SourceTable.Columns)
	{
        if(Ignored(col)) continue; 
        if(!has_description && col.Name.ToLower() == "description"){has_description = true; continue; }%>
        <%if(index % 2 == 0){ %><div class="row"><%} %>
							<label for="<%=StringUtil.ToCamelCase(col.Name)%>" class="col-sm-2 control-label"><%=col.Description%></label>
							<div class="col-sm-4 required-field-block">
								<b class="required-icon">*</b>
                                <%if(GetJavaType(col) == "Date") {%>
					<div class="input-group date">
						<sf:input cssClass="form-control" path="<%=StringUtil.ToCamelCase(col.Name)%>"
							data-date-format="yyyy-mm-dd" />
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-calendar"></i></span>
					</div><%}else{ %>
								<sf:input cssClass="form-control" path="<%=StringUtil.ToCamelCase(col.Name)%>"
									placeholder="<%=col.Description%>" /><%} %>
								<p class="help-block">&nbsp;</p>
							</div>
        
        <%if(index++ % 2 == 1){ %></div><%} %>
        
    <%}/*end of foreach*/%><% if(index%2 == 1){%></div><%} if(has_description){ %>
						<div class="row">
							<sf:label path="description" cssClass="col-sm-2 control-label">备注</sf:label>
							<div class="col-sm-10">
								<sf:textarea cssClass="form-control" rows="3" path="description"
									placeholder="备注，500字以内" />
								<p class="help-block">&nbsp;</p>
							</div>
						</div>
                        <%} %>
                        
						<button type="submit" class="btn btn-info pull-right">
							<span class="glyphicon glyphicon-ok"></span> 提 交
						</button>
						<a href='<s:url value="/<%=GetDomainUri()%>" />' class="btn btn-link"><span
							class="glyphicon glyphicon-share-alt"></span> 返 回 </a>
                        
				</div>
			</div>
				<c:if test="${not empty errors}">
					<div id="alert-error" class="col-sm-6 col-sm-offset-5">
						<div class="alert alert-danger alert-dismissible fade in"
							role="alert">
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
							<h4>请求错误</h4>
							<p>
								<sf:errors path="*" />
							</p>
						</div>
					</div>
				</c:if>
		</sf:form>
		</div><!--/panel-body-->
	</div><!--/panel-->
</div><!--/container main -->
<script type="text/javascript">
	$(function() {
		$("form").validate({
			errorElement : "p",
			success: function(label) {
				label.text("　").addClass("success");
			},
			errorPlacement: function(error, element) {
				error.appendTo(element.parent("div").next("div"));
			},
			rules : { 	<%foreach(ColumnSchema col in SourceTable.Columns){ 
        if(Ignored(col)) continue;%>
                <%=StringUtil.ToCamelCase(col.Name)%> : {
                }, <%} %>
			}
		});
	});
</script>
<<%=P()%>@ include file="bottom.jsp"<%=P()%>>
<script runat="template">
    public string P(){
        return "%";
    }
    
    public bool Ignored(ColumnSchema col){
        string ignored = "/version/id/create_user/update_time/update_user/";
        string cn = "/" + col.Name.ToLower() + "/";
        return ignored.IndexOf(cn) >= 0;
    }
    
    public override string GetFileName() {
        return GetDomainUri() + "-modify.jsp";
    }
    
    public string GetDescription(){
        string[] dlist = SourceTable.Description.Split('_');
        return dlist[dlist.Length - 1];
    }
    
    public string GetDomainClassName() {
        return StringUtil.ToPascalCase(SourceTable.Name.TrimStart("t_".ToCharArray()));
    }
    
    public string GetDomainVariableName() {
        return StringUtil.ToCamelCase(SourceTable.Name.TrimStart("t_".ToCharArray()));
    }
    
    public string GetDomainUri() {
        return StringUtil.ToPascalCase(SourceTable.Name.TrimStart("t_".ToCharArray())).ToLower();
    }
    
    public string GetJavaType(ColumnSchema col) {
        try{
            return JavaAlias[col.NativeType];
        }catch(Exception ex){
            return col.NativeType + "[N/A]";
        }
    }
</script>