<%-- 
Name:
Author: 成七一
Description:Service Class GENERATE TEMPLATE FOR FWEB（FOREVER WEB RAPID FRAMEWORK）
CreateTime：2014年7月17日 13:43:50
--%>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System" %>
<%@ Import Namespace="System" %>
<%@ Map Name="JavaAlias" Src="mysql-java-alias" %>

<%@ Template Language="C#" TargetLanguage="HTML" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Database" Description="只能选择一个表." %>
<%@ Property Name="Author" Type="System.String" Category="Context" Default="cqiyi" %>
<<%=P()%>@ page isELIgnored="false"<%=P()%>><<%=P()%>@ 
taglib
	uri="http://java.sun.com/jsp/jstl/core" prefix="c"<%=P()%>><<%=P()%>@ 
taglib
	uri="http://www.springframework.org/tags" prefix="s"<%=P()%>><<%=P()%>@ 
taglib
	uri="http://www.springframework.org/tags/form" prefix="sf"<%=P()%>><<%=P()%>@ 
taglib
	uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt"<%=P()%>><<%=P()%>@ 
	taglib
	prefix="shiro" uri="http://shiro.apache.org/tags"<%=P()%>><<%=P()%>@ 
page
	language="java" contentType="text/html; charset=utf-8"
	pageEncoding="utf-8"<%=P()%>><<%=P()%>@ include file="header.jsp"<%=P()%>>
<div class="container main"><div class="panel panel-default">
  <div class="panel-heading"><strong>${page_title}</strong></div>
  <div class="panel-body">
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
  <a href="<s:url value="/<%=GetDomainUri()%>" />" class="btn btn-info"><span class="glyphicon glyphicon-share-alt"></span> 返 回  </a>
</div>
<shiro:hasPermission name="`<%=GetDomainUri()%>_modify`">
				<div class="btn-group">
					<a
						href="<s:url value="/<%=GetDomainUri()%>/modify/{id}"><s:param name="id" value="${<%=GetDomainVariableName()%>.id }" /></s:url>"
						class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>
						修 改 </a>
				</div></shiro:hasPermission>
                <shiro:hasPermission name="`<%=GetDomainUri()%>_delete`">
				<div class="btn-group">
					<a
						data-confirm-message="<%=GetDescription()%>数据：<c:out value="${<%=GetDomainVariableName()%>.id}" />，将被永久删除，操作不可撤销，是否确认？"
						href="<s:url value="/<%=GetDomainUri()%>/delete/{id}"><s:param name="id" value="${<%=GetDomainVariableName()%>.id }" /></s:url>"
						class="btn btn-info delete"><span
						class="glyphicon glyphicon-trash"></span> 删 除 </a>
				</div></shiro:hasPermission>
</div>

<sf:form modelAttribute="<%=GetDomainVariableName()%>" cssClass="form-horizontal"
	role="form"><%
	foreach(ColumnSchema col in SourceTable.Columns)
	{
        if(Ignored(col)) continue;%>
	<div class="form-group">
		<sf:label path="<%=StringUtil.ToCamelCase(col.Name)%>" cssClass="col-sm-2 control-label"><%=col.Description%></sf:label>
		<div class="col-sm-10"><%if(GetJavaType(col) == "Date") {%>
			<p class="form-control-static"><fmt:formatDate value="${<%=GetDomainVariableName()%>.<%=StringUtil.ToCamelCase(col.Name)%>}" pattern="yyyy-MM-dd HH:mm:ss" /></p><% } else if(GetJavaType(col) == "double") {%>
			<p class="form-control-static"><fmt:formatNumber pattern="#,##0.00" value="${<%=GetDomainVariableName()%>.<%=StringUtil.ToCamelCase(col.Name)%>}" /></p><% } else {%>
			<p class="form-control-static"><c:out value="${<%=GetDomainVariableName()%>.<%=StringUtil.ToCamelCase(col.Name)%>}" /></p><%} %>
		</div>
	</div>
    <%}%>
</sf:form>
  </div>
</div></div>
<<%=P()%>@ include file="bottom.jsp"<%=P()%>>
<script runat="template">
    public string P(){
        return "%";
    }
    
    public bool Ignored(ColumnSchema col){
        string ignored = "/version/id/";
        string cn = "/" + col.Name.ToLower() + "/";
        return ignored.IndexOf(cn) >= 0;
    }
    
    public override string GetFileName() {
        return GetDomainUri() + "-detail.jsp";
    }
    
    public string GetDescription(){
        string[] dlist = SourceTable.Description.Split('_');
        return dlist[dlist.Length - 1];
    }
    
    public string GetDomainClassName() {
        return StringUtil.ToPascalCase(SourceTable.Name.TrimStart("t_".ToCharArray()));
    }
    
    public string GetDomainVariableName() {
        return StringUtil.ToCamelCase(SourceTable.Name.TrimStart("t_".ToCharArray()));
    }
    
    public string GetDomainUri() {
        return StringUtil.ToPascalCase(SourceTable.Name.TrimStart("t_".ToCharArray())).ToLower();
    }
    
    public string GetJavaType(ColumnSchema col) {
        try{
            return JavaAlias[col.NativeType];
        }catch(Exception ex){
            return col.NativeType + "[N/A]";
        }
    }
</script>