<%-- 
Name:
Author: 成七一
Description:Service Class GENERATE TEMPLATE FOR FWEB（FOREVER WEB RAPID FRAMEWORK）
CreateTime：2014年7月17日 13:43:50
--%>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System" %>
<%@ Import Namespace="System" %>
<%@ Map Name="JavaAlias" Src="mysql-java-alias" %>

<%@ Template Language="C#" TargetLanguage="HTML" %>
<%@ Property Name="SourceTables" Optional="True" Type="SchemaExplorer.TableSchemaCollection" Category="Database" Description="可以选择多张表." %>
<%@ Property Name="Author" Type="System.String" Category="Context" Default="cqiyi" %>

<%int i=1; foreach(TableSchema table in SourceTables)
    	{ %>
<!-- ==【<%=i++%>/<%=SourceTables.Count%>】<%=GetDescription(table)%>================================ -->

<!---- ---------------------- DETAIL:[<%=GetDomainUri(table)%>-detail.jsp] ------------------------------------ -->   

<shiro:hasPermission name="`<%=GetDomainUri(table)%>_modify`">
				<div class="btn-group">
					<a
						href="<s:url value="/<%=GetDomainUri(table)%>/modify/{id}"><s:param name="id" value="${<%=GetDomainVariableName(table)%>.id }" /></s:url>"
						class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>
						修 改 </a>
				</div></shiro:hasPermission>
                <shiro:hasPermission name="`<%=GetDomainUri(table)%>_delete`">
				<div class="btn-group">
					<a
						data-confirm-message="<%=GetDescription(table)%>数据：<c:out value="${<%=GetDomainVariableName(table)%>.id}" />，将被永久删除，操作不可撤销，是否确认？"
						href="<s:url value="/<%=GetDomainUri(table)%>/delete/{id}"><s:param name="id" value="${<%=GetDomainVariableName(table)%>.id }" /></s:url>"
						class="btn btn-info delete"><span
						class="glyphicon glyphicon-trash"></span> 删 除 </a>
				</div></shiro:hasPermission>



<!---- ---------------------- LIST:[<%=GetDomainUri(table)%>-list.jsp] ------------------------------------ --> 

                <shiro:hasPermission name="`<%=GetDomainUri(table)%>_create`">
					<div class="btn-group">
						<a href="<c:url value="/<%=GetDomainUri(table)%>/create" />" class="btn btn-info"><span
							class="glyphicon glyphicon-plus"></span> 新 建 </a>
					</div>
				</shiro:hasPermission>
                

<%if(hasField(table, "status")){%>

<c:if test="${<%=GetDomainUri(table)%>.status == 1 }">
									<shiro:hasPermission name="`<%=GetDomainUri(table)%>_modify`">
										<a
											href="<s:url value="/<%=GetDomainUri(table)%>/modify/{id}"><s:param name="id" value="${<%=GetDomainVariableName(table)%>.id }" /></s:url>">修改</a>
									</shiro:hasPermission>
								</c:if>
								<c:if test="${project.status != 1 }">
									<shiro:hasPermission name="`<%=GetDomainUri(table)%>_create`">
										<a
											href="<s:url value="/<%=GetDomainUri(table)%>/modify/{id}"><s:param name="id" value="${<%=GetDomainVariableName(table)%>.id }" /></s:url>">修改</a>
									</shiro:hasPermission>
								</c:if> <shiro:hasPermission name="`<%=GetDomainUri(table)%>_delete`">
									<a class="delete"
										data-confirm-message="<%=GetDescription(table)%>数据：<c:out value="${<%=GetDomainVariableName(table)%>.id}" />，将被永久删除，操作不可撤销，是否确认？"
										href="<s:url value="/<%=GetDomainUri(table)%>/delete/{id}"><s:param name="id" value="${<%=GetDomainVariableName(table)%>.id }" /></s:url>">删除</a>
								</shiro:hasPermission>
<!---- ----------------------------------------------------------------------- -->                                

<%} else{ %>

									<shiro:hasPermission name="`<%=GetDomainUri(table)%>_modify`">
										<a
											href="<s:url value="/<%=GetDomainUri(table)%>/modify/{id}"><s:param name="id" value="${<%=GetDomainVariableName(table)%>.id }" /></s:url>">修改</a>
									</shiro:hasPermission>
                                    <shiro:hasPermission name="`<%=GetDomainUri(table)%>_delete`">
									<a class="delete"
										data-confirm-message="<%=GetDescription(table)%>数据：<c:out value="${<%=GetDomainVariableName(table)%>.id}" />，将被永久删除，操作不可撤销，是否确认？"
										href="<s:url value="/<%=GetDomainUri(table)%>/delete/{id}"><s:param name="id" value="${<%=GetDomainVariableName(table)%>.id }" /></s:url>">删除</a>
								</shiro:hasPermission>
<!---- ----------------------------------------------------------------------- -->                                

<%}%>

<script runat="template">
    
    public string GetDomainClassName(TableSchema ts) {
        return StringUtil.ToPascalCase(ts.Name.TrimStart("t_".ToCharArray()));
    }
    
    public string GetDomainVariableName(TableSchema ts) {
        return StringUtil.ToCamelCase(ts.Name.TrimStart("t_".ToCharArray()));
    }
    
    public string GetDomainUri(TableSchema ts) {
        return GetDomainClassName(ts).ToLower();
    }
    
    public string GetDescription(TableSchema ts){
        string[] dlist = ts.Description.Split('_');
        return dlist[dlist.Length - 1];
    }
    
    
    public bool hasField(TableSchema ts, string fieldName)
    {
        foreach(ColumnSchema col in ts.Columns)
        {
            if(col.Name.ToLower() == fieldName.ToLower()) return true;
        }
    	
    	return false;
    }

</script>