<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.PartyBillingMapper">

	<cache />

	<select id="getCheckedAmount" parameterType="string" resultType="Double">
		select sum(amount) from t_party_billing where project_id=#{projectId} and step_status=1 and year(trice)=year(now())
	</select>
	
	
	<select id="getAllCheckedAmount" parameterType="string" resultType="Double">
		select sum(amount) from t_party_billing where project_id=#{projectId} and step_status=1
	</select>

  <select id="getAllByProject" resultType="PartyBilling">
    select id as id, project_id as projectId, invoice_code as invoiceCode, amount as amount, trice as trice, tax_rate as taxRate, tax_amount as taxAmount, step1_idea as step1Idea, step1_user as step1User, step1_time as step1Time, step_status as stepStatus, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, status as status, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_party_billing where project_id=#{projectId} order by trice desc
  </select>
  
  <select id="getRowCountByOrganization" resultType="int">
    select count(*) from t_party_billing t where exists (select 0 from t_project p where t.project_id=p.id and p.organization_id=#{organizationId})
  </select>

  <select id="getAllPagedByOrganization" resultType="PartyBilling">
    select id as id, project_id as projectId, invoice_code as invoiceCode, amount as amount, trice as trice, tax_rate as taxRate, tax_amount as taxAmount, step1_idea as step1Idea, step1_user as step1User, step1_time as step1Time, step_status as stepStatus, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, status as status, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_party_billing t where exists (select 0 from t_project p where t.project_id=p.id and p.organization_id=#{organizationId}) order by trice desc limit #{pageSize} offset #{pageIndex}
  </select>
  
  <select id="getAllTodo" resultType="PartyBilling">
    select id as id, project_id as projectId, invoice_code as invoiceCode, amount as amount, trice as trice, tax_rate as taxRate, tax_amount as taxAmount, step1_idea as step1Idea, step1_user as step1User, step1_time as step1Time, step_status as stepStatus, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, status as status, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_party_billing t where exists (select 0 from t_project p where t.project_id=p.id and p.organization_id=#{organizationId}) order by trice desc
  </select>
  
</mapper>

