<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.SysParameterMapper">
	<cache />
	<select id="getByEnName" resultType="SysParameter">
		select id as id, en_name as enName, cn_name as cnName, param_value as
		paramValue, default_value as defaultValue, is_inner as isInner, create_time as createTime, create_user as createUser,
		update_time as updateTime, update_user as updateUser, description as description, version as version, field_01 as
		field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_sys_parameter
		where
		en_name = #{enName}
	</select>
	
	
	<select id="getNextCode" resultType="string">select
		get_next_code(#{prefixCode})
	</select>

</mapper>

