<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.SysUserMapper">
	<select id="getByLoginName" resultType="SysUser">
		select id as id, login_name as loginName, real_name as realName,
		organization_id as organizationId, password as password, last_login_ip as lastLoginIp, last_login_time as
		lastLoginTime, fails as fails, logined as logined, position as position, enabled as enabled, order_by as orderBy,
		create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser,
		description as description, version as version, must_change_password as mustChangePassword, field_01 as field01,
		field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_sys_user where login_name =
		#{loginName}
	</select>

</mapper>

