<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.partial.PartialArrearsInterestMapper">

  <insert id="insert" parameterType="ArrearsInterest">
    insert into t_arrears_interest(id, serial_id, project_id, trice, amount, interest_amount, pharse, atday, create_time, description) values ( #{id}, #{serialId}, #{projectId}, #{trice}, #{amount}, #{interestAmount}, #{pharse}, #{atday}, now(), #{description} )
  </insert>

  <update id="update" parameterType="map">
    update t_arrears_interest set serial_id = #{serialId}, project_id = #{projectId}, trice = #{trice}, amount = #{amount}, interest_amount = #{interestAmount}, pharse = #{pharse}, atday = #{atday}, description = #{description}, version = version + 1 where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_arrears_interest where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="ArrearsInterest">
    select id as id, serial_id as serialId, project_id as projectId, trice as trice, amount as amount, interest_amount as interestAmount, pharse as pharse, atday as atday, create_time as createTime, description as description from t_arrears_interest where id = #{id}
  </select>
  
  <select id="getVersion" parameterType="string" resultType="int">
    select version from t_arrears_interest where id = #{id}
  </select>
  
  <select id="getAll" resultType="ArrearsInterest">
    select id as id, serial_id as serialId, project_id as projectId, trice as trice, amount as amount, interest_amount as interestAmount, pharse as pharse, atday as atday, create_time as createTime, description as description from t_arrears_interest
  </select>
  
  <select id="getRowCount" resultType="int">
    select count(*) from t_arrears_interest
  </select>

  <select id="getAllPaged" parameterType="ArrearsInterest" resultType="ArrearsInterest">
    select id as id, serial_id as serialId, project_id as projectId, trice as trice, amount as amount, interest_amount as interestAmount, pharse as pharse, atday as atday, create_time as createTime, description as description from t_arrears_interest limit #{pageSize} offset #{pageIndex}
  </select>
</mapper>

