<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.CustomerBillingMapper">

  <insert id="insert" parameterType="CustomerBilling">
    insert into t_customer_billing(id, project_id, invoice_code, invoice_type, amount, trice, create_time, create_user, update_time, update_user, description) values ( #{id}, #{projectId}, #{invoiceCode}, #{invoiceType}, #{amount}, #{trice}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser}, #{description} )
  </insert>

  <update id="update" parameterType="map">
    update t_customer_billing set project_id = #{projectId}, invoice_code = #{invoiceCode}, invoice_type = #{invoiceType}, amount = #{amount}, trice = #{trice}, create_time = #{createTime}, create_user = #{createUser}, update_time = #{updateTime}, update_user = #{updateUser}, description = #{description},  version = version + 1 where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_customer_billing where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="CustomerBilling">
    select id as Id, project_id as ProjectId, invoice_code as InvoiceCode, invoice_type as InvoiceType, amount as Amount, trice as Trice, create_time as CreateTime, create_user as CreateUser, update_time as UpdateTime, update_user as UpdateUser, description as Description, version as Version from t_customer_billing where id = #{id}
  </select>
  
  <select id="getVersion" parameterType="string" resultType="int">
    select version from t_customer_billing where id = #{id}
  </select>

  <select id="getAll" resultType="CustomerBilling">
    select id as Id, project_id as ProjectId, invoice_code as InvoiceCode, invoice_type as InvoiceType, amount as Amount, trice as Trice, create_time as CreateTime, create_user as CreateUser, update_time as UpdateTime, update_user as UpdateUser, description as Description, version as Version from t_customer_billing
  </select>

</mapper>

