<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.ContractChangeMapper">
  <!-- <cache /> -->

  <select id="getAllByProject" resultType="ContractChange">
    select id as id, project_id as projectId, csa_code as csaCode, management_rate as managementRate, change_amount as changeAmount, trice as trice, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, status as status, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_contract_change where project_id=#{projectId} order by trice desc
  </select>
  
  <select id="getRowCountByOrganization" resultType="int">
    select count(*) from t_contract_change t where exists (select 0 from t_project p where t.project_id=p.id and p.organization_id=#{organizationId})
  </select>

  <select id="getAllPagedByOrganization" resultType="ContractChange">
    select id as id, project_id as projectId, csa_code as csaCode, management_rate as managementRate, change_amount as changeAmount, trice as trice, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, status as status, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_contract_change t where exists (select 0 from t_project p where t.project_id=p.id and p.organization_id=#{organizationId}) order by trice desc limit #{pageSize} offset #{pageIndex}
  </select>
</mapper>

