<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.SysOrganizationMapper">

	<!-- <cache /> -->

	<select id="getAllBusiness" resultType="SysOrganization">
		select id as id, organization_name as organizationName, create_time as
		createTime, description as description, version as version, field_01 as field01, field_02 as field02, field_03 as
		field03, field_04 as field04, field_05 as field05 from t_sys_organization where description like '%业务%' order by
		create_time desc
	</select>

</mapper>

