@CHARSET "UTF-8";

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.bs-docs-nav .navbar-collapse {
	border-color: #463265;
}

.bs-docs-nav .navbar-brand {
	color: #fff;
}

.bs-docs-nav .navbar-nav>li>a {
	color: #cdbfe3;
}

.bs-docs-nav .navbar-nav>li>a:hover {
	color: #83b7e0;
}

.bs-docs-nav .navbar-nav>.active>a, .bs-docs-nav .navbar-nav>.active>a:hover
	{
	color: #fff;
	background-color: #555;
}

.bs-docs-nav .navbar-toggle {
	border-color: #563d7c;
}

.bs-docs-nav .navbar-toggle:hover {
	background-color: #463265;
	border-color: #463265;
}

strong {
	font-family: 微软雅黑, 黑体;
}

.main {
	width: 100%;
	padding: 10px;
}

.main form {
	width: 600px;
}

.fancytree-selected .fancytree-title {
	font-style: normal;
}

#fancytree1>ul.fancytree-container {
	border: none;
}