<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hhwy.fresource2.mapper.partial.PartialSysUserRolesMapper">

  <insert id="insert" parameterType="SysUserRoles">
    insert into t_sys_user_roles(id, user_id, role_id, create_time, create_user) values ( #{id}, #{userId}, #{roleId}, now(), #{createUser} )
  </insert>

  <update id="update" parameterType="map">
    update t_sys_user_roles set user_id = #{userId}, role_id = #{roleId}, version = version + 1 where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_sys_user_roles where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="SysUserRoles">
    select id as id, user_id as userId, role_id as roleId, create_time as createTime, create_user as createUser, version as version from t_sys_user_roles where id = #{id}
  </select>
  
  <select id="getVersion" parameterType="string" resultType="int">
    select version from t_sys_user_roles where id = #{id}
  </select>

  <select id="getAll" resultType="SysUserRoles">
    select id as id, user_id as userId, role_id as roleId, create_time as createTime, create_user as createUser, version as version from t_sys_user_roles
  </select>

</mapper>

