<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.ArrearsInterestMapper">

  <insert id="insert" parameterType="ArrearsInterest">
    insert into t_arrears_interest(id, serial_id, arrears_id, project_id, trice, amount, offset_amount, interest_amount, create_time, description, field_01, field_02, field_03, field_04, field_05) values ( #{id}, #{serialId}, #{arrearsId}, #{projectId}, #{trice}, #{amount}, #{offsetAmount}, #{interestAmount}, now(), #{description}, #{field01}, #{field02}, #{field03}, #{field04}, #{field05} )
  </insert>

  <update id="update" parameterType="map">
    update t_arrears_interest set <if test="serialId != null">serial_id = #{serialId},</if> <if test="arrearsId != ''">arrears_id = #{arrearsId},</if> <if test="projectId != ''">project_id = #{projectId},</if> <if test="trice != null">trice = #{trice},</if> <if test="amount != null">amount = #{amount},</if> <if test="offsetAmount != null">offset_amount = #{offsetAmount},</if> <if test="interestAmount != null">interest_amount = #{interestAmount},</if> <if test="description != ''">description = #{description},</if> <if test="field01 != ''">field_01 = #{field01},</if> <if test="field02 != ''">field_02 = #{field02},</if> <if test="field03 != ''">field_03 = #{field03},</if> <if test="field04 != ''">field_04 = #{field04},</if> <if test="field05 != ''">field_05 = #{field05},</if> version = version + 1 where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_arrears_interest where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="ArrearsInterest">
    select id as id, serial_id as serialId, arrears_id as arrearsId, project_id as projectId, trice as trice, amount as amount, offset_amount as offsetAmount, interest_amount as interestAmount, version as version, create_time as createTime, description as description, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_arrears_interest where id = #{id}
  </select>
  
  <select id="getVersion" parameterType="string" resultType="int">
    select version from t_arrears_interest where id = #{id}
  </select>

  <select id="getAll" resultType="ArrearsInterest">
    select id as id, serial_id as serialId, arrears_id as arrearsId, project_id as projectId, trice as trice, amount as amount, offset_amount as offsetAmount, interest_amount as interestAmount, version as version, create_time as createTime, description as description, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_arrears_interest
  </select>

</mapper>

