<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.ArrearsMapper">

  <insert id="insert" parameterType="Arrears">
    insert into t_arrears(id, project_id, funds_using, arrears_type, pay_type, amount, interest_amount, interest_rate, bank_account, bank_name, trice, create_time, create_user, update_time, update_user, description) values ( #{id}, #{projectId}, #{fundsUsing}, #{arrearsType}, #{payType}, #{amount}, #{interestAmount}, #{interestRate}, #{bankAccount}, #{bankName}, #{trice}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser}, #{description} )
  </insert>

  <update id="update" parameterType="map">
    update t_arrears set project_id = #{projectId}, funds_using = #{fundsUsing}, arrears_type = #{arrearsType}, pay_type = #{payType}, amount = #{amount}, interest_amount = #{interestAmount}, interest_rate = #{interestRate}, bank_account = #{bankAccount}, bank_name = #{bankName}, trice = #{trice}, create_time = #{createTime}, create_user = #{createUser}, update_time = #{updateTime}, update_user = #{updateUser}, description = #{description},  version = version + 1 where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_arrears where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="Arrears">
    select id as Id, project_id as ProjectId, funds_using as FundsUsing, arrears_type as ArrearsType, pay_type as PayType, amount as Amount, interest_amount as InterestAmount, interest_rate as InterestRate, bank_account as BankAccount, bank_name as BankName, trice as Trice, create_time as CreateTime, create_user as CreateUser, update_time as UpdateTime, update_user as UpdateUser, description as Description, version as Version from t_arrears where id = #{id}
  </select>
  
  <select id="getVersion" parameterType="string" resultType="int">
    select version from t_arrears where id = #{id}
  </select>

  <select id="getAll" resultType="Arrears">
    select id as Id, project_id as ProjectId, funds_using as FundsUsing, arrears_type as ArrearsType, pay_type as PayType, amount as Amount, interest_amount as InterestAmount, interest_rate as InterestRate, bank_account as BankAccount, bank_name as BankName, trice as Trice, create_time as CreateTime, create_user as CreateUser, update_time as UpdateTime, update_user as UpdateUser, description as Description, version as Version from t_arrears
  </select>

</mapper>

