<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.ArrearsInterestMapper">

	<select id="getDetail" resultType="ArrearsInterest">
		select id as id, serial_id as serialId, arrears_id as arrearsId, project_id as projectId, trice as trice, amount as amount,
		offset_amount as offsetAmount, interest_amount as interestAmount, version as version, create_time as createTime,
		description as description from t_arrears_interest where arrears_id=#{arrearsId}
	</select>

</mapper>

