<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.CollectionsMapper">

	<cache />

	<select id="getTotalCollectionsAmount" parameterType="string" resultType="Double">
		select sum(ifnull(amount, 0)) from t_collections where
		project_id=#{projectId} and source_of='工程款'
	</select>
	
	
  <select id="getAllByProject" resultType="Collections">
    select id as id, project_id as projectId, ticket_code as ticketCode, source_of as sourceOf, payment_type as paymentType, amount as amount, bank_account as bankAccount, bank_name as bankName, trice as trice, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, status as status from t_collections where project_id=#{projectId} order by trice desc
  </select>
</mapper>

