<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.InformationChangeMapper">

	
  <select id="getAllBy" parameterType="string" resultType="InformationChange">
    select id as id, information_id as informationId, original_data as originalData, new_data as newData, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, status as status, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_information_change where information_id = #{informationId} order by create_time desc
  </select>
</mapper>

