<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.InformationCertificateAmountMapper">


  <select id="getAllByInfo" resultType="InformationCertificateAmount">
    select id as id, information_id as informationId, real_name as realName, begin_time as beginTime, end_time as endTime, type as type, lock_flag as lockFlag, plan_amount as planAmount, real_amount as realAmount, owe_amount as oweAmount, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, status as status, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_information_certificate_amount where information_id=#{informationId} order by create_time desc
  </select>
</mapper>

