<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.ProjectMapper">

	<update id="updateAllStatus">call proc_update_all_status()</update>
	
	<select id="getTotalAmount" resultType="Double">select get_total_amount(#{projectId})</select>

	<select id="getAllNames" resultType="Project">
		select id as id,concat('[',project_code,']',project_name) as projectName
		from t_project order by create_time desc
	</select>
</mapper>

