<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.ProjectSummaryMapper">
	<!-- 按月，根据项目分类汇总 -->
	<select id="getSummaryByMonth" resultType="ProjectSummary">
		select
		id,
		serial_id as serialId,
		trice,
		description,
		project_id projectId,
		organization_id organizationId,
		project_code projectCode,
		project_name projectName,
		contract_amount contractAmount,
		sum(change_amount) as changeAmount,
		change_total_amount as changeTotalAmount,
		settlement_amount as settlementAmount,
		management_rate as managementRate,
		management_plan_amount as managementPlanAmount,
		sum(management_real_amount) as
		managementRealAmount,
		management_total_amount as managementTotalAmount,
		management_owe_amount as managementOweAmount,
		sum(party_billing_amount) as partyBillingAmount,
		party_billing_total_amount as partyBillingTotalAmount,
		sum(collections_amount) as collectionsAmount,
		collections_total_amount as collectionsTotalAmount,
		collections_rate as
		collectionsRate,
		sum(customer_billing_amount) as customerBillingAmount,
		customer_billing_total_amount as
		customerBillingTotalAmount,
		sum(payment_amount) as paymentAmount,
		payment_total_amount as paymentTotalAmount,
		tax_rate as
		taxRate,
		tax_plan_amount as taxPlanAmount,
		sum(tax_real_amount) as taxRealAmount,
		tax_total_amount as taxTotalAmount,
		tax_owe_amount as taxOweAmount,
		sum(arrears_amount) as arrearsAmount,
		sum(expected_value) as expectedValue,
		profile_point as profilePoint,
		total_others_amount field01,
		management_total_amount + total_others_amount field02,
		version,
		create_time as createTime,
		table_name as tableName
		from (
		select s.*,(select sum(amount) from t_collections where source_of='其他' and project_id=s.project_id) total_others_amount from
		t_project_summary s
		where trice between date(concat(#{pharse}, '-21')) - interval + 1 month
		and date(concat(#{pharse},
		'-21')) - interval + 1 day
		and organization_id = #{organizationId} and project_id in (select id from t_project)
		order by s.serial_id desc
		) t
		group by
		project_id order by trice
	</select>


	<select id="getMonths" resultType="string">
		select distinct date_format(trice, '%Y-%m') from t_project_summary order by
		trice desc
	</select>

	<select id="getSummaryByProject" resultType="ProjectSummary">
		select
		id,
		serial_id as serialId,
		trice,
		description,
		project_id
		projectId,
		organization_id organizationId,
		project_code projectCode,
		project_name projectName,
		contract_amount
		contractAmount,
		sum(change_amount) as changeAmount,
		change_total_amount as changeTotalAmount,
		settlement_amount as
		settlementAmount,
		management_rate as managementRate,
		management_plan_amount as managementPlanAmount,
		sum(management_real_amount) as managementRealAmount,
		management_total_amount as managementTotalAmount,
		management_owe_amount as managementOweAmount,
		sum(party_billing_amount) as partyBillingAmount,
		party_billing_total_amount as partyBillingTotalAmount,
		sum(collections_amount) as collectionsAmount,
		collections_total_amount as collectionsTotalAmount,
		collections_rate as collectionsRate,
		sum(customer_billing_amount) as
		customerBillingAmount,
		customer_billing_total_amount as customerBillingTotalAmount,
		sum(payment_amount) as
		paymentAmount,
		payment_total_amount as paymentTotalAmount,
		tax_rate as taxRate,
		tax_plan_amount as taxPlanAmount,
		sum(tax_real_amount) as taxRealAmount,
		tax_total_amount as taxTotalAmount,
		tax_owe_amount as taxOweAmount,
		sum(arrears_amount) as arrearsAmount,
		sum(expected_value) as expectedValue,
		profile_point as profilePoint,
		version,
		create_time as createTime,
		table_name as tableName
		from (
		select * from t_project_summary where project_id=#{projectId}
		order by t_project_summary.serial_id desc
		) t
	</select>

	<select id="getRowCountByOrganization" resultType="int">
		select count(*) from t_project_summary where
		organization_id=#{organizationId}
	</select>

	<select id="getAllPagedByOrganization" resultType="ProjectSummary">
		select id as id, serial_id as serialId, trice as trice,
		description as description, project_id as projectId, organization_id
		as organizationId, project_code as projectCode,
		project_name as projectName, contract_amount as contractAmount,
		change_amount as changeAmount, change_total_amount as
		changeTotalAmount, settlement_amount as settlementAmount,
		management_rate as managementRate, management_plan_amount as
		managementPlanAmount, management_real_amount as
		managementRealAmount, management_total_amount as managementTotalAmount,
		management_owe_amount as managementOweAmount,
		party_billing_amount as partyBillingAmount, party_billing_total_amount as
		partyBillingTotalAmount, collections_amount
		as collectionsAmount, collections_total_amount as collectionsTotalAmount,
		collections_rate as collectionsRate,
		customer_billing_amount as customerBillingAmount, customer_billing_total_amount as
		customerBillingTotalAmount,
		payment_amount as paymentAmount, payment_total_amount as paymentTotalAmount, tax_rate as
		taxRate, tax_plan_amount as
		taxPlanAmount, tax_real_amount as taxRealAmount, tax_total_amount as taxTotalAmount,
		tax_owe_amount as taxOweAmount,
		arrears_amount as arrearsAmount, expected_value as expectedValue, profile_point as
		profilePoint, version as version,
		create_time as createTime, table_name as tableName from t_project_summary where
		organization_id=#{organizationId} and project_id in (select id from t_project) order by serial_id desc limit #{pageSize}
		offset #{pageIndex}
	</select>


	<select id="getHistoryByProject" resultType="ProjectSummary">
		select id as id, serial_id as serialId, trice as
		trice,
		description as description, project_id as projectId, organization_id
		as organizationId, project_code as
		projectCode,
		project_name as projectName, contract_amount as contractAmount,
		change_amount as changeAmount,
		change_total_amount as
		changeTotalAmount, settlement_amount as settlementAmount,
		management_rate as managementRate,
		management_plan_amount as
		managementPlanAmount, management_real_amount as
		managementRealAmount, management_total_amount
		as managementTotalAmount,
		management_owe_amount as managementOweAmount,
		party_billing_amount as partyBillingAmount,
		party_billing_total_amount as
		partyBillingTotalAmount, collections_amount
		as collectionsAmount, collections_total_amount
		as collectionsTotalAmount,
		collections_rate as collectionsRate,
		customer_billing_amount as customerBillingAmount,
		customer_billing_total_amount as
		customerBillingTotalAmount,
		payment_amount as paymentAmount, payment_total_amount as
		paymentTotalAmount, tax_rate as
		taxRate, tax_plan_amount as
		taxPlanAmount, tax_real_amount as taxRealAmount,
		tax_total_amount as taxTotalAmount,
		tax_owe_amount as taxOweAmount,
		arrears_amount as arrearsAmount, expected_value as
		expectedValue, profile_point as
		profilePoint, version as version,
		create_time as createTime, table_name as tableName, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05
		from t_project_summary where project_id=#{projectId} order by serial_id desc
	</select>
</mapper>

