<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.SysAuthorizationMapper">
	<select id="getAuthorizationByUserId" resultType="SysAuthorization">
		select id as
		id, resource_id as
		resourceId, user_id as userId, create_time
		as
		createTime, create_user as createUser, version as version from
		t_sys_authorization where user_id = #{userId}
	</select>

	<select id="getByUserIdAndResource" resultType="SysAuthorization">select id as id,
		resource_id as resourceId, user_id as userId,
		create_time
		as createTime,
		create_user as createUser, version as version from
		t_sys_authorization
		where user_id =
		#{userId} and resource_id = #{resourceId}
	</select>
</mapper>

