<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.SysResourceMapper">

	<select id="getPermission" parameterType="string" resultType="SysResource">
		select id as Id, res_code as ResCode, res_name as resName, icon as
		Icon, res_url as ResUrl, res_type as ResType, order_by as
		OrderBy,
		parent_id as ParentId, enabled as Enabled, description as Description,
		version as Version from t_sys_resource
		where id in (select resource_id
		from t_sys_authorization where user_id=#{userId}) order by order_by
	</select>

	<select id="getChildren" parameterType="string" resultType="SysResource">
		select id as Id, res_code as ResCode, res_name as resName, icon as
		Icon, res_url as ResUrl, res_type as ResType, order_by as
		OrderBy,
		parent_id as ParentId, enabled as Enabled, description as Description,
		version as Version from t_sys_resource
		where parent_id =#{id} order by
		order_by
	</select>
</mapper>

