<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.SysResourceMapper">

	<cache />
	<select id="getPermission" parameterType="string" resultType="SysResource">
		select id as id, res_code as resCode, res_name as
		resName, icon as icon, res_url as resUrl, res_type as resType, order_by as orderBy, parent_id as parentId, enabled as
		enabled, description as description, version as version, allow_access_uri as allowAccessUri, field_01 as field01,
		field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_sys_resource
		where id in
		(select resource_id
		from t_sys_authorization where user_id=#{userId}) order by order_by
	</select>

	<select id="getChildren" parameterType="string" resultType="SysResource">
		select id as id, res_code as resCode, res_name as
		resName, icon as icon, res_url as resUrl, res_type as resType, order_by as orderBy, parent_id as parentId, enabled as
		enabled, description as description, version as version, allow_access_uri as allowAccessUri, field_01 as field01,
		field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_sys_resource
		where parent_id
		=#{id} order by
		order_by
	</select>
</mapper>

