<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.SysUserMapper">

  <insert id="insert" parameterType="SysUser">
    insert into t_sys_user(id, login_name, real_name, organization_id, password, last_login_ip, last_login_time, fails, logined, position, enabled, order_by, create_time, create_user, update_time, update_user, description, must_change_password) values ( #{id}, #{loginName}, #{realName}, #{organizationId}, #{password}, #{lastLoginIp}, #{lastLoginTime}, #{fails}, #{logined}, #{position}, #{enabled}, #{orderBy}, now(), #{createUser}, now(), #{updateUser}, #{description}, #{mustChangePassword} )
  </insert>

  <update id="update" parameterType="map">
    update t_sys_user set login_name = #{loginName}, real_name = #{realName}, organization_id = #{organizationId}, password = #{password}, last_login_ip = #{lastLoginIp}, last_login_time = #{lastLoginTime}, fails = #{fails}, logined = #{logined}, position = #{position}, enabled = #{enabled}, order_by = #{orderBy}, update_time = now(), update_user = #{updateUser}, description = #{description}, version = version + 1, must_change_password = #{mustChangePassword} where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_sys_user where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="SysUser">
    select id as id, login_name as loginName, real_name as realName, organization_id as organizationId, password as password, last_login_ip as lastLoginIp, last_login_time as lastLoginTime, fails as fails, logined as logined, position as position, enabled as enabled, order_by as orderBy, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, must_change_password as mustChangePassword from t_sys_user where id = #{id}
  </select>
  
  <select id="getVersion" parameterType="string" resultType="int">
    select version from t_sys_user where id = #{id}
  </select>

  <select id="getAll" resultType="SysUser">
    select id as id, login_name as loginName, real_name as realName, organization_id as organizationId, password as password, last_login_ip as lastLoginIp, last_login_time as lastLoginTime, fails as fails, logined as logined, position as position, enabled as enabled, order_by as orderBy, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, must_change_password as mustChangePassword from t_sys_user
  </select>
  
  <select id="getByLoginName" parameterType="string" resultType="SysUser">
    select id as id, login_name as loginName, real_name as realName, organization_id as organizationId, password as password, last_login_ip as lastLoginIp, last_login_time as lastLoginTime, fails as fails, logined as logined, position as position, enabled as enabled, order_by as orderBy, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, must_change_password as mustChangePassword from t_sys_user where login_name = #{loginName}
  </select>

</mapper>

