<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hhwy.fweb1.mapper.PaymentItemMapper">

	<insert id="insert" parameterType="PaymentItem">
		insert into t_payment_item(id, item_name, reimbursement_cap, create_time,
		create_user, update_time, update_user, description) values ( #{id},
		#{itemName}, #{reimbursementCap}, #{createTime}, #{createUser},
		#{updateTime}, #{updateUser}, #{description} )
	</insert>

	<update id="update" parameterType="map">
		update t_payment_item set item_name = #{itemName}, reimbursement_cap =
		#{reimbursementCap}, create_time = #{createTime}, create_user =
		#{createUser}, update_time = #{updateTime}, update_user =
		#{updateUser}, description = #{description}, version = version + 1
		where id = #{id}
	</update>

	<delete id="delete" parameterType="string">
		delete from t_payment_item where id = #{id}
	</delete>

	<select id="get" parameterType="string" resultType="PaymentItem">
		select id as Id, item_name as ItemName, reimbursement_cap as
		ReimbursementCap, create_time as CreateTime, create_user as
		CreateUser, update_time as UpdateTime, update_user as UpdateUser,
		description as Description, version as Version from t_payment_item
		where id = #{id}
	</select>

	<select id="getVersion" parameterType="string" resultType="int">
		select version from t_payment_item where id = #{id}
	</select>

	<select id="getAll" resultType="PaymentItem">
		select id as Id, item_name as ItemName, reimbursement_cap as
		ReimbursementCap, create_time as CreateTime, create_user as
		CreateUser, update_time as UpdateTime, update_user as UpdateUser,
		description as Description, version as Version from t_payment_item
	</select>

</mapper>

