<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hhwy.fweb1.mapper.ProfileMapper">

  <insert id="insert" parameterType="Profile">
    insert into t_profile(id, project_id, expected_value, profile_point, trice, create_time, create_user, update_time, update_user, description) values ( #{id}, #{projectId}, #{expectedValue}, #{profilePoint}, #{trice}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser}, #{description} )
  </insert>

  <update id="update" parameterType="map">
    update t_profile set project_id = #{projectId}, expected_value = #{expectedValue}, profile_point = #{profilePoint}, trice = #{trice}, create_time = #{createTime}, create_user = #{createUser}, update_time = #{updateTime}, update_user = #{updateUser}, description = #{description},  version = version + 1 where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_profile where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="Profile">
    select id as Id, project_id as ProjectId, expected_value as ExpectedValue, profile_point as ProfilePoint, trice as Trice, create_time as CreateTime, create_user as CreateUser, update_time as UpdateTime, update_user as UpdateUser, description as Description, version as Version from t_profile where id = #{id}
  </select>
  
  <select id="getVersion" parameterType="string" resultType="int">
    select version from t_profile where id = #{id}
  </select>

  <select id="getAll" resultType="Profile">
    select id as Id, project_id as ProjectId, expected_value as ExpectedValue, profile_point as ProfilePoint, trice as Trice, create_time as CreateTime, create_user as CreateUser, update_time as UpdateTime, update_user as UpdateUser, description as Description, version as Version from t_profile
  </select>

</mapper>

