<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hhwy.fweb1.mapper.SysResourceMapper">

	<insert id="insert" parameterType="SysResource">
		insert into t_sys_resource(id,
		resource_code, resource_name, icon,
		resource_uri, resource_type,
		order_id, parent_id, enabled,
		description) values ( #{id},
		#{resourceCode}, #{resourceName},
		#{icon}, #{resourceUri},
		#{resourceType}, #{orderId}, #{parentId},
		#{enabled}, #{description} )
	</insert>

	<update id="update" parameterType="map">
		update t_sys_resource set
		<if test="resourceCode != null">resource_code = #{resourceCode},</if>
		<if test="resourceName != null">resource_name = #{resourceName},</if>
		<if test="icon != null">icon = #{icon},</if>
		<if test="resourceUri != null">resource_uri = #{resourceUri},</if>
		<if test="resourceType != null">resource_type = #{resourceType},</if>
		<if test="orderId != null">order_id = #{orderId},</if>
		<if test="parentId != null">parent_id = #{parentId},</if>
		<if test="enabled != null">enabled = #{enabled},</if>
		<if test="description != null">description = #{description},</if>
		version = version + 1 where id = #{id}
	</update>

	<delete id="delete" parameterType="string">
		delete from t_sys_resource
		where id = #{id}
	</delete>

	<select id="get" parameterType="string" resultType="SysResource">
		select id as
		id, resource_code as resourceCode, resource_name as
		resourceName, icon
		as icon, resource_uri as resourceUri, resource_type
		as resourceType,
		order_id as orderId, parent_id as parentId, enabled
		as enabled,
		description as description, version as version from
		t_sys_resource
		where id = #{id}
	</select>

	<select id="getVersion" parameterType="string" resultType="int">
		select version from t_sys_resource where id = #{id}
	</select>

	<select id="getAll" resultType="SysResource">
		select id as id, resource_code as
		resourceCode, resource_name as
		resourceName, icon as icon, resource_uri
		as resourceUri, resource_type
		as resourceType, order_id as orderId,
		parent_id as parentId, enabled
		as enabled, description as description,
		version as version from
		t_sys_resource order by order_id
	</select>


	<select id="getPermission" parameterType="string" resultType="SysResource">
		select id as id, resource_code as resourceCode, resource_name as
		resourceName, icon as icon, resource_uri as resourceUri, resource_type
		as resourceType, order_id as orderId, parent_id as parentId, enabled
		as enabled, description as description, version as version from
		t_sys_resource
		where id in (select resource_id
		from t_sys_authorization
		where user_id=#{userId}) order by order_id
	</select>

	<select id="getChildren" parameterType="string" resultType="SysResource">
		select id as id, resource_code as resourceCode, resource_name as
		resourceName, icon as icon, resource_uri as resourceUri, resource_type
		as resourceType, order_id as orderId, parent_id as parentId, enabled
		as enabled, description as description, version as version from
		t_sys_resource
		where parent_id =#{id} order by order_id
	</select>
</mapper>

