<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hhwy.fweb1.mapper.SysRoleUserMapper">

  <insert id="insert" parameterType="SysRoleUser">
    insert into t_sys_role_user(id, role_id, user_id, create_time, create_user) values ( #{id}, #{roleId}, #{userId}, now(), #{createUser} )
  </insert>

  <update id="update" parameterType="map">
    update t_sys_role_user set <if test="roleId != null">role_id = #{roleId},</if> <if test="userId != null">user_id = #{userId},</if> version = version + 1 where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_sys_role_user where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="SysRoleUser">
    select id as id, role_id as roleId, user_id as userId, create_time as createTime, create_user as createUser, version as version from t_sys_role_user where id = #{id}
  </select>
  
  <select id="getVersion" parameterType="string" resultType="int">
    select version from t_sys_role_user where id = #{id}
  </select>

  <select id="getAll" resultType="SysRoleUser">
    select id as id, role_id as roleId, user_id as userId, create_time as createTime, create_user as createUser, version as version from t_sys_role_user
  </select>

</mapper>

