<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hhwy.fweb1.mapper.partial.PartialSysResourceMapper">

  <insert id="insert" parameterType="SysResource">
    insert into t_sys_resource(id, resource_code, resource_name, icon, resource_uri, resource_type, order_id, parent_id, enabled, description) values ( #{id}, #{resourceCode}, #{resourceName}, #{icon}, #{resourceUri}, #{resourceType}, #{orderId}, #{parentId}, #{enabled}, #{description} )
  </insert>

  <update id="update" parameterType="map">
    update t_sys_resource set resource_code = #{resourceCode}, resource_name = #{resourceName}, icon = #{icon}, resource_uri = #{resourceUri}, resource_type = #{resourceType}, order_id = #{orderId}, parent_id = #{parentId}, enabled = #{enabled}, description = #{description}, version = version + 1 where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_sys_resource where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="SysResource">
    select id as id, resource_code as resourceCode, resource_name as resourceName, icon as icon, resource_uri as resourceUri, resource_type as resourceType, order_id as orderId, parent_id as parentId, enabled as enabled, description as description, version as version from t_sys_resource where id = #{id}
  </select>
  
  <select id="getVersion" parameterType="string" resultType="int">
    select version from t_sys_resource where id = #{id}
  </select>

  <select id="getAll" resultType="SysResource">
    select id as id, resource_code as resourceCode, resource_name as resourceName, icon as icon, resource_uri as resourceUri, resource_type as resourceType, order_id as orderId, parent_id as parentId, enabled as enabled, description as description, version as version from t_sys_resource
  </select>

</mapper>

