<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.persistence.InformationMapper">

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="hply.domain.Information">
    insert into t_information(ID, OrganizationID, ProjectName, Address, Developer, EpcCorporation, Variety, TotalArea, RealName, Identification, Contact, Subscriber, Trice, CreateTime, CreateUser, UpdateTime, UpdateUser, Description) values ( #{ID}, #{OrganizationID}, #{ProjectName}, #{Address}, #{Developer}, #{EpcCorporation}, #{Variety}, #{TotalArea}, #{RealName}, #{Identification}, #{Contact}, #{Subscriber}, #{Trice}, #{CreateTime}, #{CreateUser}, #{UpdateTime}, #{UpdateUser}, #{Description} )
  </insert>

  <update id="update" parameterType="map">
    update t_information set OrganizationID = #{OrganizationID}, ProjectName = #{ProjectName}, Address = #{Address}, Developer = #{Developer}, EpcCorporation = #{EpcCorporation}, Variety = #{Variety}, TotalArea = #{TotalArea}, RealName = #{RealName}, Identification = #{Identification}, Contact = #{Contact}, Subscriber = #{Subscriber}, Trice = #{Trice}, CreateTime = #{CreateTime}, CreateUser = #{CreateUser}, UpdateTime = #{UpdateTime}, UpdateUser = #{UpdateUser}, Description = #{Description} where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_information where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="hply.domain.Information">
    select * from t_information where id = #{id}
  </select>

  <select id="getAll" resultType="hply.domain.Information">
    select * from t_information
  </select>

</mapper>


