<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.persistence.ProjectMapper">

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="hply.domain.Project">
    insert into t_project(ID, ProjectCode, ProjectName, OrganizationID, PartyName, PartyAddress, Manager, ContractCode, Cooperation, LegalAssignee, ISWithholdingOffsite, ManagementRate, TaxRate, ContractAmount, SettlementAmount, DutyPaidTime, DutyPaidAmount, DutyPaidCode, CapitalOccupied, ProjectStatus, Trice, CreateTime, CreateUser, UpdateTime, UpdateUser, Description) values ( #{ID}, #{ProjectCode}, #{ProjectName}, #{OrganizationID}, #{PartyName}, #{PartyAddress}, #{Manager}, #{ContractCode}, #{Cooperation}, #{LegalAssignee}, #{ISWithholdingOffsite}, #{ManagementRate}, #{TaxRate}, #{ContractAmount}, #{SettlementAmount}, #{DutyPaidTime}, #{DutyPaidAmount}, #{DutyPaidCode}, #{CapitalOccupied}, #{ProjectStatus}, #{Trice}, #{CreateTime}, #{CreateUser}, #{UpdateTime}, #{UpdateUser}, #{Description} )
  </insert>

  <update id="update" parameterType="map">
    update t_project set ProjectCode = #{ProjectCode}, ProjectName = #{ProjectName}, OrganizationID = #{OrganizationID}, PartyName = #{PartyName}, PartyAddress = #{PartyAddress}, Manager = #{Manager}, ContractCode = #{ContractCode}, Cooperation = #{Cooperation}, LegalAssignee = #{LegalAssignee}, ISWithholdingOffsite = #{ISWithholdingOffsite}, ManagementRate = #{ManagementRate}, TaxRate = #{TaxRate}, ContractAmount = #{ContractAmount}, SettlementAmount = #{SettlementAmount}, DutyPaidTime = #{DutyPaidTime}, DutyPaidAmount = #{DutyPaidAmount}, DutyPaidCode = #{DutyPaidCode}, CapitalOccupied = #{CapitalOccupied}, ProjectStatus = #{ProjectStatus}, Trice = #{Trice}, CreateTime = #{CreateTime}, CreateUser = #{CreateUser}, UpdateTime = #{UpdateTime}, UpdateUser = #{UpdateUser}, Description = #{Description} where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_project where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="hply.domain.Project">
    select * from t_project where id = #{id}
  </select>

  <select id="getAll" resultType="hply.domain.Project">
    select * from t_project
  </select>

</mapper>


