<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.persistence.SysParameterMapper">

	<cache />

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="SysParameter">
		insert into t_sys_parameter(id, en_name, cn_name,
		param_value,
		default_value, is_inner, create_time, create_user,
		update_time,
		update_user, description) values ( #{id}, #{en_name},
		#{cn_name},
		#{param_value}, #{default_value}, #{is_inner},
		#{create_time},
		#{create_user}, #{update_time}, #{update_user},
		#{description} )
	</insert>

	<update id="update" parameterType="map">
		update t_sys_parameter set
		en_name = #{en_name}, cn_name = #{cn_name},
		param_value =
		#{param_value}, default_value = #{default_value},
		is_inner =
		#{is_inner}, create_time = #{create_time}, create_user =
		#{create_user}, update_time = #{update_time}, update_user =
		#{update_user}, description = #{description} where id = #{id}
	</update>

	<delete id="delete">
		delete from t_sys_parameter where id = #{id}
	</delete>

	<select id="get" parameterType="string" resultType="SysParameter">
		select * from
		t_sys_parameter where id = #{id}
	</select>

	<select id="getAll" resultType="SysParameter">
		select * from t_sys_parameter
	</select>

</mapper>


