<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.persistence.SysUserMapper">

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="hply.domain.SysUser">
    insert into t_sys_user(id, login_name, real_name, department, password, last_login_ip, last_login_time, fails, logined, position, enabled, order_by, create_time, create_user, update_time, update_user, description) values ( #{id}, #{login_name}, #{real_name}, #{department}, #{password}, #{last_login_ip}, #{last_login_time}, #{fails}, #{logined}, #{position}, #{enabled}, #{order_by}, #{create_time}, #{create_user}, #{update_time}, #{update_user}, #{description} )
  </insert>

  <update id="update" parameterType="map">
    update t_sys_user set login_name = #{login_name}, real_name = #{real_name}, department = #{department}, password = #{password}, last_login_ip = #{last_login_ip}, last_login_time = #{last_login_time}, fails = #{fails}, logined = #{logined}, position = #{position}, enabled = #{enabled}, order_by = #{order_by}, create_time = #{create_time}, create_user = #{create_user}, update_time = #{update_time}, update_user = #{update_user}, description = #{description} where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_sys_user where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="hply.domain.SysUser">
    select * from t_sys_user where id = #{id}
  </select>

  <select id="getAll" resultType="hply.domain.SysUser">
    select * from t_sys_user
  </select>

</mapper>


