<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.persistence.ArrearsMapper">

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="hply.domain.Arrears">
    insert into t_arrears(ID, ProjectID, ArrearsType, PayType, Amount, BankAccount, BankName, Trice, CreateTime, CreateUser, UpdateTime, UpdateUser, Description) values ( #{ID}, #{ProjectID}, #{ArrearsType}, #{PayType}, #{Amount}, #{BankAccount}, #{BankName}, #{Trice}, #{CreateTime}, #{CreateUser}, #{UpdateTime}, #{UpdateUser}, #{Description} )
  </insert>

  <update id="update" parameterType="map">
    update t_arrears set ProjectID = #{ProjectID}, ArrearsType = #{ArrearsType}, PayType = #{PayType}, Amount = #{Amount}, BankAccount = #{BankAccount}, BankName = #{BankName}, Trice = #{Trice}, CreateTime = #{CreateTime}, CreateUser = #{CreateUser}, UpdateTime = #{UpdateTime}, UpdateUser = #{UpdateUser}, Description = #{Description} where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_arrears where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="hply.domain.Arrears">
    select * from t_arrears where id = #{id}
  </select>

  <select id="getAll" resultType="hply.domain.Arrears">
    select * from t_arrears
  </select>

</mapper>


