<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.partial.PartialProjectSummaryMapper">

	<cache />

	<insert id="insert" parameterType="ProjectSummary">
		insert into t_project_summary(id, trice, description, project_id, organization_id, project_code, project_name,
		contract_amount, change_amount, settlement_amount, management_rate, management_plan_amount, management_real_amount,
		management_total_amount, management_owe_amount, party_billing_amount, party_billing_total_amount, collections_amount,
		collections_total_amount, collections_rate, customer_billing_amount, customer_billing_total_amount, payment_amount,
		payment_total_amount, tax_rate, tax_plan_amount, tax_real_amount, tax_total_amount, tax_owe_amount, arrears_amount,
		expected_value, profile_point, create_time, serial_id, table_name, change_total_amount) values ( #{id}, #{trice},
		#{description}, #{projectId}, #{organizationId}, #{projectCode}, #{projectName}, #{contractAmount}, #{changeAmount},
		#{settlementAmount}, #{managementRate}, #{managementPlanAmount}, #{managementRealAmount}, #{managementTotalAmount},
		#{managementOweAmount}, #{partyBillingAmount}, #{partyBillingTotalAmount}, #{collectionsAmount},
		#{collectionsTotalAmount}, #{collectionsRate}, #{customerBillingAmount}, #{customerBillingTotalAmount},
		#{paymentAmount}, #{paymentTotalAmount}, #{taxRate}, #{taxPlanAmount}, #{taxRealAmount}, #{taxTotalAmount},
		#{taxOweAmount}, #{arrearsAmount}, #{expectedValue}, #{profilePoint}, now(), #{serialId}, #{tableName},
		#{changeTotalAmount} )
	</insert>

	<update id="update" parameterType="map">
		update t_project_summary set trice = #{trice}, description = #{description}, project_id = #{projectId}, organization_id =
		#{organizationId}, project_code = #{projectCode}, project_name = #{projectName}, contract_amount = #{contractAmount},
		change_amount = #{changeAmount}, settlement_amount = #{settlementAmount}, management_rate = #{managementRate},
		management_plan_amount = #{managementPlanAmount}, management_real_amount = #{managementRealAmount},
		management_total_amount = #{managementTotalAmount}, management_owe_amount = #{managementOweAmount},
		party_billing_amount = #{partyBillingAmount}, party_billing_total_amount = #{partyBillingTotalAmount},
		collections_amount = #{collectionsAmount}, collections_total_amount = #{collectionsTotalAmount}, collections_rate =
		#{collectionsRate}, customer_billing_amount = #{customerBillingAmount}, customer_billing_total_amount =
		#{customerBillingTotalAmount}, payment_amount = #{paymentAmount}, payment_total_amount = #{paymentTotalAmount},
		tax_rate = #{taxRate}, tax_plan_amount = #{taxPlanAmount}, tax_real_amount = #{taxRealAmount}, tax_total_amount =
		#{taxTotalAmount}, tax_owe_amount = #{taxOweAmount}, arrears_amount = #{arrearsAmount}, expected_value =
		#{expectedValue}, profile_point = #{profilePoint}, serial_id = #{serialId}, table_name = #{tableName},
		change_total_amount = #{changeTotalAmount}, version = version + 1 where id = #{id}
	</update>

	<delete id="delete" parameterType="string">
		delete from t_project_summary where id = #{id}
	</delete>

	<select id="get" parameterType="string" resultType="ProjectSummary">
		select id as id, trice as trice, description as description, project_id as projectId, organization_id as organizationId,
		project_code as projectCode, project_name as projectName, contract_amount as contractAmount, change_amount as
		changeAmount, settlement_amount as settlementAmount, management_rate as managementRate, management_plan_amount as
		managementPlanAmount, management_real_amount as managementRealAmount, management_total_amount as
		managementTotalAmount, management_owe_amount as managementOweAmount, party_billing_amount as partyBillingAmount,
		party_billing_total_amount as partyBillingTotalAmount, collections_amount as collectionsAmount,
		collections_total_amount as collectionsTotalAmount, collections_rate as collectionsRate, customer_billing_amount as
		customerBillingAmount, customer_billing_total_amount as customerBillingTotalAmount, payment_amount as paymentAmount,
		payment_total_amount as paymentTotalAmount, tax_rate as taxRate, tax_plan_amount as taxPlanAmount, tax_real_amount as
		taxRealAmount, tax_total_amount as taxTotalAmount, tax_owe_amount as taxOweAmount, arrears_amount as arrearsAmount,
		expected_value as expectedValue, profile_point as profilePoint, version as version, create_time as createTime,
		serial_id as serialId, table_name as tableName, change_total_amount as changeTotalAmount from t_project_summary where
		id = #{id}
	</select>

	<select id="getVersion" parameterType="string" resultType="int">
		select version from t_project_summary where id = #{id}
	</select>

	<select id="getAll" resultType="ProjectSummary">
		select id as id, trice as trice, description as description, project_id as projectId, organization_id as organizationId,
		project_code as projectCode, project_name as projectName, contract_amount as contractAmount, change_amount as
		changeAmount, settlement_amount as settlementAmount, management_rate as managementRate, management_plan_amount as
		managementPlanAmount, management_real_amount as managementRealAmount, management_total_amount as
		managementTotalAmount, management_owe_amount as managementOweAmount, party_billing_amount as partyBillingAmount,
		party_billing_total_amount as partyBillingTotalAmount, collections_amount as collectionsAmount,
		collections_total_amount as collectionsTotalAmount, collections_rate as collectionsRate, customer_billing_amount as
		customerBillingAmount, customer_billing_total_amount as customerBillingTotalAmount, payment_amount as paymentAmount,
		payment_total_amount as paymentTotalAmount, tax_rate as taxRate, tax_plan_amount as taxPlanAmount, tax_real_amount as
		taxRealAmount, tax_total_amount as taxTotalAmount, tax_owe_amount as taxOweAmount, arrears_amount as arrearsAmount,
		expected_value as expectedValue, profile_point as profilePoint, version as version, create_time as createTime,
		serial_id as serialId, table_name as tableName, change_total_amount as changeTotalAmount from t_project_summary order
		by serial_id desc
	</select>

</mapper>

