<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.partial.PartialPartyBillingMapper">

  <insert id="insert" parameterType="PartyBilling">
    insert into t_party_billing(id, project_id, invoice_code, amount, trice, tax_rate, tax_amount, step1_idea, step1_user, step1_time, step_status, create_time, create_user, update_time, update_user, description, status, field_01, field_02, field_03, field_04, field_05) values ( #{id}, #{projectId}, #{invoiceCode}, #{amount}, #{trice}, #{taxRate}, #{taxAmount}, #{step1Idea}, #{step1User}, #{step1Time}, #{stepStatus}, now(), #{createUser}, now(), #{createUser}, #{description}, #{status}, #{field01}, #{field02}, #{field03}, #{field04}, #{field05} )
  </insert>

  <update id="update" parameterType="map">
    update t_party_billing set project_id = #{projectId}, invoice_code = #{invoiceCode}, amount = #{amount}, trice = #{trice}, tax_rate = #{taxRate}, tax_amount = #{taxAmount}, step1_idea = #{step1Idea}, step1_user = #{step1User}, step1_time = #{step1Time}, step_status = #{stepStatus},  update_time = now(), update_user = #{updateUser}, description = #{description}, status = #{status}, field_01 = #{field01}, field_02 = #{field02}, field_03 = #{field03}, field_04 = #{field04}, field_05 = #{field05}, version = version + 1 where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_party_billing where id = #{id}
  </delete>

  <update id="check" parameterType="string">
    update t_party_billing set status=1 where id = #{id}
  </update>
  
  <select id="get" parameterType="string" resultType="PartyBilling">
    select id as id, project_id as projectId, invoice_code as invoiceCode, amount as amount, trice as trice, tax_rate as taxRate, tax_amount as taxAmount, step1_idea as step1Idea, step1_user as step1User, step1_time as step1Time, step_status as stepStatus, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, status as status, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_party_billing where id = #{id}
  </select>
  
  <select id="getVersion" parameterType="string" resultType="int">
    select version from t_party_billing where id = #{id}
  </select>
  
  <select id="getAll" resultType="PartyBilling">
    select id as id, project_id as projectId, invoice_code as invoiceCode, amount as amount, trice as trice, tax_rate as taxRate, tax_amount as taxAmount, step1_idea as step1Idea, step1_user as step1User, step1_time as step1Time, step_status as stepStatus, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, status as status, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_party_billing
  </select>
  
  <select id="getRowCount" resultType="int">
    select count(*) from t_party_billing
  </select>

  <select id="getAllPaged" parameterType="PartyBilling" resultType="PartyBilling">
    select id as id, project_id as projectId, invoice_code as invoiceCode, amount as amount, trice as trice, tax_rate as taxRate, tax_amount as taxAmount, step1_idea as step1Idea, step1_user as step1User, step1_time as step1Time, step_status as stepStatus, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version, status as status, field_01 as field01, field_02 as field02, field_03 as field03, field_04 as field04, field_05 as field05 from t_party_billing limit #{pageSize} offset #{pageIndex}
  </select>
</mapper>

