<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.mapper.PaymentItemMapper">

  <insert id="insert" parameterType="PaymentItem">
    insert into t_payment_item(id, item_name, reimbursement_cap, create_time, create_user, update_time, update_user, description) values ( #{id}, #{itemName}, #{reimbursementCap}, now(), #{createUser}, now(), #{createUser}, #{description} )
  </insert>

  <update id="update" parameterType="map">
    update t_payment_item set <if test="itemName != ''">item_name = #{itemName},</if> <if test="reimbursementCap != null">reimbursement_cap = #{reimbursementCap},</if>  update_time = now(), <if test="updateUser != ''">update_user = #{updateUser},</if> <if test="description != ''">description = #{description},</if> version = version + 1 where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_payment_item where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="PaymentItem">
    select id as id, item_name as itemName, reimbursement_cap as reimbursementCap, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version from t_payment_item where id = #{id}
  </select>
  
  <select id="getVersion" parameterType="string" resultType="int">
    select version from t_payment_item where id = #{id}
  </select>

  <select id="getAll" resultType="PaymentItem">
    select id as id, item_name as itemName, reimbursement_cap as reimbursementCap, create_time as createTime, create_user as createUser, update_time as updateTime, update_user as updateUser, description as description, version as version from t_payment_item
  </select>

</mapper>

