<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.persistence.PartyBillingMapper">

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="hply.domain.PartyBilling">
    insert into t_party_billing(ID, ProjectID, InvoiceCode, Amount, Trice, TaxRate, TaxAmount, Step1Idea, Step1User, Step1Time, StepStatus, CreateTime, CreateUser, UpdateTime, UpdateUser, Description) values ( #{ID}, #{ProjectID}, #{InvoiceCode}, #{Amount}, #{Trice}, #{TaxRate}, #{TaxAmount}, #{Step1Idea}, #{Step1User}, #{Step1Time}, #{StepStatus}, #{CreateTime}, #{CreateUser}, #{UpdateTime}, #{UpdateUser}, #{Description} )
  </insert>

  <update id="update" parameterType="map">
    update t_party_billing set ProjectID = #{ProjectID}, InvoiceCode = #{InvoiceCode}, Amount = #{Amount}, Trice = #{Trice}, TaxRate = #{TaxRate}, TaxAmount = #{TaxAmount}, Step1Idea = #{Step1Idea}, Step1User = #{Step1User}, Step1Time = #{Step1Time}, StepStatus = #{StepStatus}, CreateTime = #{CreateTime}, CreateUser = #{CreateUser}, UpdateTime = #{UpdateTime}, UpdateUser = #{UpdateUser}, Description = #{Description} where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_party_billing where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="hply.domain.PartyBilling">
    select * from t_party_billing where id = #{id}
  </select>

  <select id="getAll" resultType="hply.domain.PartyBilling">
    select * from t_party_billing
  </select>

</mapper>


