<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hply.persistence.PaymentMapper">

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="hply.domain.Payment">
    insert into t_payment(ID, ProjectID, TicketCode, PayType, PaymentItemID, Amount, BankAccount, BankName, Trice, CreateTime, CreateUser, UpdateTime, UpdateUser, Description) values ( #{ID}, #{ProjectID}, #{TicketCode}, #{PayType}, #{PaymentItemID}, #{Amount}, #{BankAccount}, #{BankName}, #{Trice}, #{CreateTime}, #{CreateUser}, #{UpdateTime}, #{UpdateUser}, #{Description} )
  </insert>

  <update id="update" parameterType="map">
    update t_payment set ProjectID = #{ProjectID}, TicketCode = #{TicketCode}, PayType = #{PayType}, PaymentItemID = #{PaymentItemID}, Amount = #{Amount}, BankAccount = #{BankAccount}, BankName = #{BankName}, Trice = #{Trice}, CreateTime = #{CreateTime}, CreateUser = #{CreateUser}, UpdateTime = #{UpdateTime}, UpdateUser = #{UpdateUser}, Description = #{Description} where id = #{id}
  </update>

  <delete id="delete" parameterType="string">
    delete from t_payment where id = #{id}
  </delete>

  <select id="get" parameterType="string" resultType="hply.domain.Payment">
    select * from t_payment where id = #{id}
  </select>

  <select id="getAll" resultType="hply.domain.Payment">
    select * from t_payment
  </select>

</mapper>


